<div class="row">
    <div class="col-sm-4 footer1">
        <div class="row">
        <a href="#top" class="footert">Reza Tardast</a>
    </div>
    </div>
    <div class="col-sm-4 footer2">
        <div class="row">
            <img src="" alt=""></img>
        </div>
    </div>
    <div class="col-sm-4 footer3">
        <div class="row">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="http://" class="footersocial footersocial1"><img src="" alt="" =""></img></a>
                </li>
                <li class="list-inline-item">
                    <a href="http://" class="footersocial footersocial1"><img src="" alt="" =""></img></a>
                </li>
                <li class="list-inline-item">
                    <a href="http://" class="footersocial footersocial1"><img src="" alt="" =""></img></a>
                </li>
              </ul>
        </div>
    </div>
</div>

